<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>HPC-REDItools - Architecture</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/logo.ico">
</head>
<body>

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="start.html">Start</a></li>
            <li><a href="download.html">Download</a></li>
            <li><a href="architecture.html">Architecture</a></li>
            <li><a href="help.html">Help</a></li>
            <li><a href="contacts.html">Contacts</a></li>
        </ul>
    </nav>

<div class="container">
    <div class="title">
        <div class="best" style="display: flex; align-items: center;">
            <img src="../static/logo.png" width="100" style="margin: auto;">
            <h1>HPC-REDItools</h1>
            <img src="../static/logo.png" width="100" style="margin: auto;">
          </div>
        <h2>Architecture design</h2>
    </div>

    <div class="description">
        <p>The logic behind the application can be summarized simply as follows: the user, who intends to perform the RNA-editing detection, 
           provides HPC-REDItool with the input BAM files. These files, which would typically be the sequentially analyzed files used 
           with REDItools-v3 software, contains the data of interest. In order to expedite 
           the parallel detection process, HPC-REDItools employs a distributed approach where the BAM files within the input directory are distributed
           and analyzed separately and independently.</p>
        <img src="../static/function_details.png" alt="Pipeline" width="1200">
        <p>This parallelization strategy enables us to achieve significant reductions in 
           detention time. By leveraging the power of distributed computing, HPC-REDItools harnesses the computational resources of an 
           HPC cluster, allowing multiple analysis instances to be executed simultaneously.</p>
        <p>This approach enables researchers to obtain comprehensive 
           and accurate RNA-editing detection results within significantly shorter timeframes, enhancing their ability to analyze and understand the 
           information encoded in the BAM files.
        </p>
    </div>


    <!-- Workflow -->
    <div class="block">
        <h3 style="text-align: center;">Complete workflow diagram of parallel processing of HPC-REDItools</h3>
        <div class="figure">
            <img src="../static/hpc-reditools_logic-diagram2.png" 
                 alt="Workflow diagram of parallel processing of HPC-REDItools" 
                 width="1100"
                 style="margin: auto auto">
        </div>
        <p>Figure: Workflow diagram of parallel processing of HPC-REDItools.</p>
    </div>

    <!-- Collect the input files -->
    <div class="block">
        <h2>Phase 1: Collecting the Input Files</h2>
        <p>As an initial step, the master process collect and count the input files provided by the user, which contain all the necessary information for RNA-editing detection. 
            Each process will then be assigned a BAM file on which to perform the analysis in the second phase.</p>
    </div>

    <!-- Performing the Alignment -->
    <div class="block">
        <h2>Phase 2: Performing the Analysis</h2>
        <p>After the Collecting phase, the subsequent step involves analyze the different BAMs contained within input directory. 
            This analysis process is crucial for identifying RNA-editing events providing the user with a comprehensive overview of the data.</p>
        <p>To accomplish this analysis, each process initiates an instance of the 
            REDItools software. These software tools employ sophisticated algorithms to detect and find the RNA-editing events.
            By utilizing parallel processing, multiple instances of the software are launched simultaneously, allowing for faster and more efficient analysis on a large ammount of BAMs.</p>
        <p>As the REDItools software runs, it generates detection results for each 
            process or instance involved in the analysis. These results, one for each BAM file,
            represent the individual findings and matches discovered by each instance of the software. 
        </p>
    </div>

    <!-- Merging the Results -->
    <div class="block">
        <h2>Phase 3: Merging the Results</h2>
        <p>Finally, after the completion of all computations, the master process update the log file with all information related to the analysis.
           After this phase, the results files will be available for the user in tmp directory in tsv format.</p>
        </p>
</div>

</body>
</html>


