<!DOCTYPE html>
<html>
<head> 
    <meta charset="utf-8"> 
    <title>HPC-REDItools - Home</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/logo.ico">
</head>
<body>

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="start.html">Start</a></li>
            <li><a href="download.html">Download</a></li>
            <li><a href="architecture.html">Architecture</a></li>
            <li><a href="help.html">Help</a></li>
            <li><a href="contacts.html">Contacts</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="title">
            <div class="best" style="display: flex; align-items: center;">
                <img src="../static/logo.png" width="100" style="margin: auto;">
                <h1>Welcome to HPC-REDItools</h1>
                <img src="../static/logo.png" width="100" style="margin: auto;">
            </div>
              
            <h2>Empowering RNA-editing Detection </h2>
        </div>

        <div class="description">
            <p>REDItools are simple python scripts conceived to facilitate the investigation of RNA editing at large-scale and devoted to research groups that would to explore such phenomenon in own data but don't have sufficient bioinformatics skills. </p>
            <p>Through this interface, it is possible to generate dynamic software capable of concurrently executing analyses on multiple BAM files using the Python 3 version of REDItools.</p>
            <img src="../static/function_details.png" alt="Pipeline" width="1200">
            <p>Upon user-driven customization, the software package is ready for deployment. It can be downloaded in TAR format and transferred to the target machine for optimized, scalable analyses.</p>
        </div>
        
        <div class="buttons">
            <a href="start.html" id="get_started">Get Started</a>
        </div>
    </div>
</body>
</html>
